@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Noto+Sans+KR&display=swap');



html, body {
    margin: 0;
    padding: 0;
}

.hide {
    display: none;
}

h1 {
    text-align: center;
    margin-top: 15vh;
    font-size: 3rem;
}

#user-name{
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
}

#user-id {
    font-size: 1.5rem;
}
#form-group {
    margin-top: 5vh;
    text-align: center;
}
#login-input{
    border-radius: 10px;
    text-align: center;
}
input::placeholder {
    text-align: center;
    line-height: inherit;
}
#login-button {
    background-color: #1976E2;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: large;
}
#start-button-container {
    text-align: center;
    margin-top: 5%;
}

#quiz-container {
    text-align: center;
}

#button-container {
    text-align: center;
    margin-top: 5vh;
}

.logOut {
    margin-left: 3vw;
    background-color: #BDBDBD;
    color: black;
    border: 0px;
    border-radius: 5px;
    font-size: large;
    font-family: 'Noto Sans KR', sans-serif;
}

#start-button {
    width: 25%;
    height: 5vh;
    background-color: #1976E2;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: large;
}

.O {
    width: 12vw;
    background-color: #E0E0E0;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: large;
}

.X {
    width: 12vw;
    margin-left: 3vw;
    background-color: #E0E0E0;
    color: white;
    border: 0px;
    border-radius: 5px;
    font-size: large;
}

#image {
    display: flex;
    justify-content: center;
}
.jieurring{
    width: 35%;
    height: 70vh;
    margin-bottom: 15vh;
}

footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background-color: #333;
    color: white;
    height: 10vh;
    line-height: 10vh;
}

.quiz {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 3rem;
}
.answer {
    border-radius: 10px;
    text-align: center;
    margin-top: 5vh;
}

@media screen and (max-width: 576px) {
    .jieurring{
        width: 80%;
        height: 50vh;
    }

    .O{
        width: 30%;
    }
    .X{
        width: 30%;
    }
    .answer{
        width: 30vw;
    }
    .logOut{
        margin-left: 5vw;
    }
}


