html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: white;
}

#form-group{
    border: 0px solid red;
    display: flex;
    justify-content: center;
}

#ul {
    text-align: center;
    list-style: none;
}

#form-group #input{
    width: 30vw;
    height: 5vh;
    border-radius: 10px;
}
#input{
    text-align: center;
}
#input::placeholder{
    text-align: center;
}

.deleteButton {
    background: none;
    border: none;
}

#container{
    margin-left: 30%;
    margin-right: 30%;
    border: 1px solid white;
    height: 95vh;
}
li {
    margin-top: 5%;
    color: white;
}